{#

This file is part of the FabienCrassat\CurriculumVitaeBundle Symfony bundle.

(c) Fabien Crassat <fabien@crassat.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% trans_default_domain 'FabienCrassatCurriculumVitaeBundle' %}
{% set template = template|default("") %}

{% if template == "OryzoneBoilerplate" %}
{% if languages|length > 1 %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        {{ 'fabiencrassat_curriculumvitae.language'|trans }} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        {% for key, language in languages %}
        <li><a href="{{ path('fabiencrassat_curriculumvitae_default', {'_locale': key, 'cvxmlfile': cvxmlfile } ) }}">{{ language }}</a></li>
        {% endfor %}
    </ul>
</li>
{% endif %}
{% else %}
{% if languages|length > 1 %}
<ul><li>
    <a href="#">{{ 'fabiencrassat_curriculumvitae.language'|trans }}</a>
    <ul>
        {% for key, language in languages %}
        <li><a href="{{ path('fabiencrassat_curriculumvitae_default', {'_locale': key, 'cvxmlfile': cvxmlfile }) }}">{{ language }}</a></li>
        {% endfor %}
    </ul>
</li></ul>
{% endif %}
{% endif %}
