{#

This file is part of the Nimbusletruand\CurriculumVitaeBundle Symfony bundle.

(c) Fabien Crassat <fabien@crassat.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{# Nimbusletruand/CurriculumVitaeBundle/Resources/views/Default/OryzoneBoilerplate.html.twig #}

{% extends "OryzoneBoilerplateBundle::html5.html.twig" %}

{% trans_default_domain 'NimbusletruandCurriculumVitaeBundle' %}

{% block head_title %}CV {{ cvxmlfile|title }}{% endblock %}

{% block head_css %}
{{ parent() }}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{% block body_css_bootstrap_onlineSrc %}//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css{% endblock %}" id="body_css_bootstrap">
{% stylesheets '@NimbusletruandCurriculumVitaeBundle/Resources/public/css/OryzoneBoilerplate.template.css' %}
<link rel="stylesheet" href="{{ asset_url }}">
{% endstylesheets %}
{% endblock %}

{% block body_js %}
{{ parent() }}
<!-- Latest compiled and minified JavaScript -->
<script src="{% block body_js_bootstrap_onlineSrc %}//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js{% endblock %}"></script>
<script>
if ($.fn.button == undefined) {
    document.write('<script type="text/javascript" src="{% block body_js_bootstrap_offlineSrc %}{% javascripts '@NimbusletruandCurriculumVitaeBundle/Resources/offline/js/bootstrap.min.js' %}{{ asset_url }}{% endjavascripts %}{% endblock %}"><\/script>');
    document.write('<link rel="stylesheet" href="{% block body_css_bootstrap_offlineSrc %}{% stylesheets '@NimbusletruandCurriculumVitaeBundle/Resources/offline/css/bootstrap.min.css' %}{{ asset_url }}{% endstylesheets %}{% endblock %}" id="body_css_bootstrap_offlineSrc">');
    $('document').ready(function(){
        $('link#body_css_bootstrap_offlineSrc').appendTo('link#body_css_bootstrap')
    })
};
</script>
{% endblock %}

{% block body_container_main %}
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand">Curriculum Vitae</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            {% if languages|length > 1 %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{ 'Nimbusletruand_curriculumvitae.language'|trans }} <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="language">
                    {% for key, language in languages %}
                    <li><a href="{{ path('nimbusletruand_curriculumvitae_default', {'_locale': key, 'cvxmlfile': cvxmlfile } ) }}">{{ language }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
            {% for item in anchors %}
            <li class="">
                <a href="#{{ item.href }}">{{ item.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>

<div id="CurriculumVitae" class="container">
    <div id="{{ anchors.identity.href|default('') }}" class="media">
        <span class="pull-left">
            <img class="img-circle pull-right" src="{% if identity.myself.Picture is defined %}{{ asset('' ~ identity.myself.Picture) }}{% endif %}" alt="{{ identity.myself.Name|default('') }}"/>
        </span>
        <div class="media-body">
            <h1 class="media-heading">{{ identity.myself.Name|default('') }}</h1>
            <p class="lead">{{ lookingFor.experience.job|default('') }}</p>
            <div class="panel panel-primary">
                <div class="panel-heading">{{ lookingFor.presentation|default('') }}</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
        <section class="well">
            <h3>{{ anchors.identity.title|default('') }}</h3>
            <address>
                {% if identity.address.City is defined and identity.address.Country is defined %}
                <span class="glyphicon glyphicon-map-marker"></span> <a target="_blank" href="{{ identity.address.GoogleMap|default('') }}">{{ identity.address.City }}, {{ identity.address.Country }}</a>
                {% endif %}
                {# <br><abbr title="Mobile">M:</abbr> {{ identity.contact.Mobile }} #}
                <br><abbr title="Email"><span class="glyphicon glyphicon-envelope"></span> </abbr> <a href="mailto:{{ identity.contact.Email|default('') }}">{{ identity.contact.Email|default('') }}</a>
                {% if identity.myself.BirthDay is defined and identity.myself.BrithPlace is defined %}
                    <br> Né le {{ identity.myself.BirthDay }} à {{ identity.myself.BrithPlace }}
                {% endif %}
                {% if identity.myself.Age is defined %}
                    <br>Age: {{ identity.myself.Age }}
                {% endif %}
                {% if identity.myself.Nationality is defined %}
                    <br>{{ identity.myself.Nationality }}
                {% endif %}
                {% if identity.social.Marital is defined %}
                    <br>{{ identity.social.Marital }}
                {% endif %}
                {% if identity.social.Military is defined %}
                    <br>{{ identity.social.Military }}
                {% endif %}
                <br>{{ identity.social.DriveLicences|default('') }}
            </address>
        </section>
        </div>

        <div class="col-md-6">
        <section id="{{ anchors.followMe.href|default('') }}" class="well">
            <h3>{{ anchors.followMe.title|default('') }}</h3>
            {% for line in followMe %}
                <span class="followMeImage"><a href="{{ line.url }}" class="linkimage" target="_blank">
                    <img src="{{ asset('' ~ line.icon) }}" alt="{{ line.title }}" title="{{ line.title }}"/>
                </a></span>
            {% endfor %}
        </section>
        </div>
    </div>

    <section id="{{ anchors.experiences.href|default('') }}" class="well">
        <h3>{{ anchors.experiences.title|default('') }}</h3>
        <dl class="timeline">
        {% for key, line in experiences %}
            <dt><span class="indent"></span><span class="label label-default">{{ line.date }}</span></dt>
            <dd>
                <strong>{{ line.job }}</strong>
                <br><a href="{{ line.society.siteurl }}">{{ line.society.name }}</a>, <small>{{ line.society.address }}</small>
                {% for item in line.missions.item %}
                <br><small>- {{ item }}</small>
                {% endfor %}
            </dd>
        {% endfor %}
        </dl>
    </section>
    
    <section id="{{ anchors.skills.href|default('') }}" class="well">
        <h3>{{ anchors.skills.title|default('') }}</h3>
        <dl class="dl-horizontal">
        {% for categories in skills %}
            <dt>{{ categories.title }}</dt>
            <dd>
            {% for key, line in categories.lines %}
            {{ line.label }}
            <div class="progress {% if line.striped == 'true' %} progress-striped {% endif %}">
                <div class="progress-bar progress-bar-{{ line.class }}"role="progressbar" aria-valuenow="{{ line.percentage }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ line.percentage }}%;">
                    <span class="sr-only">
                        {{ line.percentage }}
                    </span >
                </div>
            </div>
            {% endfor %}
            </dd>
        {% endfor %}
        </dl>
    </section>

    <section id="{{ anchors.educations.href|default('') }}" class="well">
        <h3>{{ anchors.educations.title|default('') }}</h3>
        <dl class="timeline">
        {% for line in educations %}
            <dt><span class="indent"></span><span class="label label-default">{{ line.date }}</span></dt>
            <dd>
                {{ line.education }}
                {% for item in line.descriptions.item %}
                <br><small>- {{ item }}</small>
                {% endfor %}
            </dd>
        {% endfor %}
        </dl>
    </section>
    
    <section id="{{ anchors.languageSkills.href|default('') }}" class="well">
        <h3>{{ anchors.languageSkills.title|default('') }}</h3>
        <div class="row">
        {% for line in languageSkills %}
        <div class="col-md-5{% if loop.index == 1 %} col-md-offset-1 {% endif %}">
            <div class="pull-left">
                <img class="media-object" src="{{ asset('' ~ line.icon) }}" alt="{{ line.title }}">
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{ line.title }}</h4>
                {{ line.description }}
            </div>
        </div>
        {% endfor %}
        </div>
    </section>

    <section id="{{ anchors.miscellaneous.href|default('') }}" class="well">
        <h3>{{ anchors.miscellaneous.title|default('') }}</h3>
        <dl class="dl-horizontal">
        {% for line in miscellaneous %}
            <dt>{{ line.title }}</dt>
            <dd>
                {{ line.miscellaneous }}
                {% if line.description is defined %}
                <br><small>{{ line.description }}</small>
                {% endif %}
            </dd>
        {% endfor %}
        </dl>
    </section>
</div>

{# Top button #}
<a href="#" alt="{{ 'Nimbusletruand_curriculumvitae.back_to_top_button'|trans }}" title="{{ 'Nimbusletruand_curriculumvitae.back_to_top_button'|trans }}" class="btn btn-default btn-sm hidden-print" style="position: fixed; bottom: 0; right: 0;">
    <span class="glyphicon glyphicon-arrow-up"></span>
</a>
{% endblock %}