{#

This file is part of the FabienCrassat\CurriculumVitaeBundle Symfony bundle.

(c) Fabien Crassat <fabien@crassat.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% set template = template|default("") %}
{% set id       = anchors.educations.href|default('') %}
{% set anchorId = "id=" ~ id ~ "" %}
{% set title    = anchors.educations.title|default('') %}
{% set blocks   = educations %}

{% if blocks is not null %}
{# Display the main section #}
{% if template == "OryzoneBoilerplate" %}
    <section {{ anchorId }} class="well">
        <h3>{{ title }}</h3>
        {{ _self.displayBlockInMainSection(blocks, id, template) }}
    </section>
{% else %}
    <div {{ anchorId }}>
        <h3>{{ title }}{% if template != "pdf" %} [<a href=#>top</a>]{% endif %}</h3>
        {{ _self.displayBlockInMainSection(blocks, id, template) }}
    </div>
{% endif %}
{% endif %}

{# Display each block section in the main section #}
{% macro displayBlockInMainSection(blocks, id, template) %}
    {% import _self as SelfFunction %}
    <dl class="timeline">
    {% for line in blocks %}
        {% if template == "OryzoneBoilerplate" %}
            <dt>
                <span class="indent"></span>
                <button type="button" class="btn btn-default btn-xs active" data-toggle="collapse" data-target="#{{ id }}{{ loop.index }}">
                {{ line.date }}
                </button>
            </dt>
            <dd>
                <div id="{{ id }}{{ loop.index }}" class="{% if line.collapse is defined and line.collapse == 'true' %}collapse {% else %}in{% endif %}">
                {{ SelfFunction.DisplayItem(line) }}
                </div>
            </dd>
        {% else %}
            <dt>
                {{ line.date }}
            </dt>
            <dd>
                {{ SelfFunction.DisplayItem(line) }}
            </dd>
        {% endif %}
    {% endfor %}
    </dl>
{% endmacro %}

{# Display each item section inside block section #}
{% macro DisplayItem(line) %}
    {{ line.education }}
    {% if line.descriptions.item is defined %}
    {% for item in line.descriptions.item %}
    <br><small>- {{ item }}</small>
    {% endfor %}
    {% endif %}
{% endmacro  %}
