{#

This file is part of the FabienCrassat\CurriculumVitaeBundle Symfony bundle.

(c) Fabien Crassat <fabien@crassat.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% set template = template|default("") %}
{% set id       = anchors.identity.href|default('') %}
{% set anchorId = "id=" ~ id ~ "" %}
{% set title    = anchors.identity.title|default('') %}
{% set blocks   = identity %}

{% import _self as myMacro %}

{% if blocks is not null %}
{# Display the main section #}
{% if template == "OryzoneBoilerplate" %}
    <section {{ anchorId }} class="well">
        <h3>{{ title }}</h3>
        {{ myMacro.displayBlockInMainSection(blocks, id, template, hasSecureDisplayBundle) }}
    </section>
{% else %}
    <div {{ anchorId }}>
        <h3>{{ title }}{% if template != "pdf" %} [<a href=#>top</a>]{% endif %}</h3>
        {{ myMacro.displayBlockInMainSection(blocks, id, template, hasSecureDisplayBundle) }}
    </div>
{% endif %}
{% endif %}

{# Display each block section in the main section #}
{% macro displayBlockInMainSection(blocks, id, template, hasSecureDisplayBundle) %}
    {% import _self as SelfFunction %}
    <address>
        {{ SelfFunction.DisplayLivePlace(template, blocks.address.googlemap, blocks.address.city, blocks.address.country) }}
        {{ SelfFunction.DisplayPhone(template, hasSecureDisplayBundle, blocks.contact.mobile) }}
        {{ SelfFunction.DisplayEmail(template, hasSecureDisplayBundle, blocks.contact.email) }}
        {{ SelfFunction.DisplayMyself(blocks.myself|default('')) }}
        {{ SelfFunction.DisplaySocial(blocks.social|default('')) }}
    </address>
{% endmacro %}

{# Display each item section inside block section #}
{% macro DisplayLivePlace(template, googlemap, city, country) %}
    {% if city is defined and country is defined %}
    {% if city is not empty and country is not empty %}
        {% if template == "OryzoneBoilerplate" %}
            <span class='glyphicon glyphicon-map-marker'></span>&nbsp;
        {% endif %}
        <a target="_blank" href="{{ googlemap|default('') }}">{{ city }}, {{ country }}</a><br>
    {% endif %}
    {% endif %}
{% endmacro %}
{% macro DisplayPhone(template, hasSecureDisplayBundle, mobile) %}
    {% if template == "pdf" and mobile is defined %}
    {% if mobile is not empty %}
        {% if template == "OryzoneBoilerplate" %}<abbr title="Mobile">M:</abbr>&nbsp;{% endif %}
        {% if template != "pdf" and hasSecureDisplayBundle %}
            {{ mobile|secureDisplay()|raw }}
        {% else %}
            {{ mobile }}
        {% endif %}<br>
    {% endif %}
    {% endif %}
{% endmacro %}
{% macro DisplayEmail(template, hasSecureDisplayBundle, email) %}
    {% if email is defined %}
    {% if email is not empty %}
        {% if template == "OryzoneBoilerplate" %}
            <abbr title="Email"><span class="glyphicon glyphicon-envelope"></span>&nbsp;</abbr>&nbsp;
        {% endif %}
        {% if template != "pdf" and hasSecureDisplayBundle %}
            {{ email|secureDisplay()|raw }}
        {% else %}
            {{ email }}
        {% endif %}<br>
    {% endif %}
    {% endif %}
{% endmacro %}
{% macro DisplayMyself(myself) %}
    {% if myself.birthday is defined and myself.birthplace is defined %}
        Né le {{ myself.birthday }} à {{ myself.birthplace }}<br>
    {% endif %}
    {% if myself.age is defined %}
        Age: {{ myself.age }}<br>
    {% endif %}
    {% if myself.nationality is defined %}
        {{ myself.nationality }}<br>
    {% endif %}
{% endmacro  %}
{% macro DisplaySocial(social) %}
    {% if social.marital is defined %}
        {{ social.marital }}<br>
    {% endif %}
    {% if social.military is defined %}
        {{ social.military }}<br>
    {% endif %}
    {% if social.drivelicences is defined %}
        {{ social.drivelicences }}<br>
    {% endif %}
{% endmacro  %}
