{#

This file is part of the FabienCrassat\CurriculumVitaeBundle Symfony bundle.

(c) Fabien Crassat <fabien@crassat.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% set template = template|default("") %}
{% set id       = anchors.identity.href|default('') %}
{% set anchorId = "id=" ~ id ~ "" %}
{% set title    = anchors.identity.title|default('') %}
{% set blocks   = identity %}

{% if blocks is not null %}
{# Display the main section #}
{% if template == "OryzoneBoilerplate" %}
    <section {{ anchorId }} class="well">
        <h3>{{ title }}</h3>
        {{ _self.displayBlockInMainSection(blocks, id, template) }}
    </section>
{% else %}
    <div {{ anchorId }}>
        <h3>{{ title }}{% if template != "pdf" %} [<a href=#>top</a>]{% endif %}</h3>
        {{ _self.displayBlockInMainSection(blocks, id, template) }}
    </div>
{% endif %}
{% endif %}

{# Display each block section in the main section #}
{% macro displayBlockInMainSection(blocks, id, template) %}
    {% import _self as SelfFunction %}
    <address>
        {% if template == "OryzoneBoilerplate" %}
            {% if blocks.address.city is defined and blocks.address.country is defined %}
            <span class="glyphicon glyphicon-map-marker"></span> <a target="_blank" href="{{ blocks.address.googlemap|default('') }}">{{ blocks.address.city }}, {{ blocks.address.country }}</a><br>
            {% endif %}
            {# <abbr title="Mobile">M:</abbr> {{ blocks.contact.mobile }}<br> #}
            {% if blocks.contact.email is defined %}
            <abbr title="Email"><span class="glyphicon glyphicon-envelope"></span> </abbr> <a href="mailto:{{ blocks.contact.email|default('') }}">{{ blocks.contact.email|default('') }}</a><br>
            {% endif %}
        {% else %}
            {% if blocks.address.city is defined and blocks.address.country is defined %}
            <a target="_blank" href="{{ blocks.address.googlemap|default('') }}">{{ blocks.address.city }}, {{ blocks.address.country }}</a><br>
            {% endif %}
            {# M: {{ blocks.contact.mobile }}<br> #}
            {% if blocks.contact.email is defined %}
            <a href="mailto:{{ blocks.contact.email|default('') }}">{{ blocks.contact.email|default('') }}</a><br>
            {% endif %}
        {% endif %}
        {{ SelfFunction.DisplayMyself(blocks.myself|default('')) }}
        {{ SelfFunction.DisplaySocial(blocks.social|default('')) }}
    </address>
{% endmacro %}

{# Display each item section inside block section #}
{% macro DisplayMyself(myself) %}
    {% if myself.birthday is defined and myself.birthplace is defined %}
        Né le {{ myself.birthday }} à {{ myself.birthplace }}<br>
    {% endif %}
    {% if myself.age is defined %}
        Age: {{ myself.age }}<br>
    {% endif %}
    {% if myself.nationality is defined %}
        {{ myself.nationality }}<br>
    {% endif %}
{% endmacro  %}
{% macro DisplaySocial(social) %}
    {% if social.marital is defined %}
        {{ social.marital }}<br>
    {% endif %}
    {% if social.military is defined %}
        {{ social.military }}<br>
    {% endif %}
    {% if social.drivelicences is defined %}
        {{ social.drivelicences }}<br>
    {% endif %}
{% endmacro  %}
