{#

This file is part of the FabienCrassat\CurriculumVitaeBundle Symfony bundle.

(c) Fabien Crassat <fabien@crassat.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% set template = template|default("") %}
{% set id       = anchors.languageSkills.href|default('') %}
{% set anchorId = "id=" ~ id ~ "" %}
{% set title    = anchors.languageSkills.title|default('') %}
{% set blocks   = languageSkills %}

{% if blocks is not null %}
{# Display the main section #}
{% if template == "OryzoneBoilerplate" %}
    <section {{ anchorId }} class="well">
        <h3>{{ title }}</h3>
        {{ _self.displayBlockInMainSection(blocks, id, template) }}
    </section>
{% else %}
    <div {{ anchorId }}>
        <h3>{{ title }}{% if template != "pdf" %} [<a href=#>top</a>]{% endif %}</h3>
        {{ _self.displayBlockInMainSection(blocks, id, template) }}
    </div>
{% endif %}
{% endif %}

{# Display each block section in the main section #}
{% macro displayBlockInMainSection(blocks, id, template) %}
    {% if template == "OryzoneBoilerplate" %}
        <div class="row">
        {% for line in blocks %}
        <div class="col-md-5{% if loop.index == 1 %} col-md-offset-1 {% endif %}">
            <div class="pull-left">
                <img class="media-object" src="{{ asset('' ~ line.icon) }}" alt="{{ line.title }}">
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{ line.title }}</h4>
                {{ line.description }}
            </div>
        </div>
        {% endfor %}
        </div>
    {% elseif template == "pdf" %}
        {% for line in blocks %}
        <div>
            <strong>{{ line.title }}</strong> {{ line.description }}
        </div>
        {% endfor %}
    {% else %}
        {% for line in blocks %}
        <div>
            <img src="{{ asset('' ~ line.icon) }}" alt="{{ line.title }}">
            <strong>{{ line.title }}</strong> {{ line.description }}
        </div>
        {% endfor %}
    {% endif %}
{% endmacro %}
