{#

This file is part of the FabienCrassat\CurriculumVitaeBundle Symfony bundle.

(c) Fabien Crassat <fabien@crassat.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% set template = template|default("") %}
{% set id       = anchors.miscellaneous.href|default('') %}
{% set anchorId = "id=" ~ id ~ "" %}
{% set title    = anchors.miscellaneous.title|default('') %}
{% set blocks   = miscellaneous %}

{% if blocks is not null %}
{# Display the main section #}
{% if template == "OryzoneBoilerplate" %}
    <section {{ anchorId }} class="well">
        <h3>{{ title }}</h3>
        {{ _self.displayBlockInMainSection(blocks, id, template) }}
    </section>
{% else %}
    <div {{ anchorId }}>
        <h3>{{ title }}{% if template != "pdf" %} [<a href=#>top</a>]{% endif %}</h3>
        {{ _self.displayBlockInMainSection(blocks, id, template) }}
    </div>
{% endif %}
{% endif %}

{# Display each block section in the main section #}
{% macro displayBlockInMainSection(blocks, id, template) %}
    {% import _self as SelfFunction %}
    <dl class="dl-horizontal">
    {% for line in blocks %}
        {{ SelfFunction.DisplayItem(line) }}
    {% endfor %}
    </dl>
{% endmacro %}

{# Display each item section inside block section #}
{% macro DisplayItem(line) %}
    <dt>
        {{ line.title }}
    </dt>
    <dd>
        {{ line.miscellaneous }}
        {% if line.description is defined %}
        <br><small>{{ line.description }}</small>
        {% endif %}
    </dd>
{% endmacro  %}
