{% if template is defined %}
<section id="{{ anchors.skills.href|default('') }}" class="well">
    <h3>{{ anchors.skills.title|default('') }}</h3>
    <dl class="dl-horizontal">
    {% for categories in skills %}
        <dt>{{ categories.title }}</dt>
        <dd>
        {% for key, line in categories.lines %}
        {{ line.label }}
        <div class="progress {% if line.striped == 'true' %} progress-striped {% endif %}">
            <div class="progress-bar progress-bar-{{ line.class }}" role="progressbar" aria-valuenow="{{ line.percentage }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ line.percentage }}%;">
                <span class="sr-only">
                    {{ line.percentage }}
                </span >
            </div>
        </div>
        {% endfor %}
        </dd>
    {% endfor %}
    </dl>
</section>
{% else %}
<div id="{{ anchors.skills.href|default('') }}">
    <h3>{{ anchors.skills.title|default('') }} [<a href=#>top</a>]</h3>
    <dl>
    {% for categories in skills %}
        <dt>{{ categories.title }}</dt>
        <dd>
        {% for key, line in categories.lines %}
        <div>{% for i in 1..line.percentage/4 %}
        {% if line.striped == 'true' %}|{% else %}.{% endif %}
        {% endfor %} {{ line.label }} ({{ line.class }})
        </div>
        {% endfor %}
        </dd>
    {% endfor %}
    </dl>
</div>
{% endif %}
