{#

This file is part of the FabienCrassat\CurriculumVitaeBundle Symfony bundle.

(c) Fabien Crassat <fabien@crassat.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% set template = template|default("") %}
{% set id       = anchors.skills.href|default('') %}
{% set anchorId = "id=" ~ id ~ "" %}
{% set title    = anchors.skills.title|default('') %}
{% set blocks   = skills %}

{% if blocks is not null %}
{# Display the main section #}
{% if template == "OryzoneBoilerplate" %}
    <section {{ anchorId }} class="well">
        <h3>{{ title }}</h3>
        {{ _self.displayBlockInMainSection(blocks, id, template) }}
    </section>
{% else %}
    <div {{ anchorId }}>
        <h3>{{ title }}{% if template != "pdf" %} [<a href=#>top</a>]{% endif %}</h3>
        {{ _self.displayBlockInMainSection(blocks, id, template) }}
    </div>
{% endif %}
{% endif %}

{# Display each block section in the main section #}
{% macro displayBlockInMainSection(blocks, id, template) %}
    {% import _self as SelfFunction %}
    <dl class="dl-horizontal">
    {% for line in blocks %}
        <dt>{{ line.title }}</dt>
        <dd>
        {% for key, line in line.lines %}
            {% if template == "OryzoneBoilerplate" %}
                {{ line.label }}
                <div class="progress {% if line.striped|default('false') == 'true' %} progress-striped {% endif %}">
                    <div class="progress-bar progress-bar-{{ line.class|default('info') }}" role="progressbar" aria-valuenow="{{ line.percentage|default(0) }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ line.percentage|default(0) }}%;">
                        <span class="sr-only">
                            {{ line.percentage|default(0) }}
                        </span >
                    </div>
                </div>
            {% elseif template == "pdf" %}
                {{ line.label }},
            {% else %}
                <div>
                {% if line.percentage|default(0) != 0 %}
                {% for i in 1..((line.percentage|default(0))/4)|round %}
                {% if line.striped|default('false') == 'true' %}|{% else %}.{% endif %}
                {% endfor %}
                {% endif %}
                {{ line.label }}
                </div>
            {% endif %}
        {% endfor %}
        </dd>
    {% endfor %}
    </dl>
{% endmacro %}
