{#

This file is part of the Nimbusletruand\CurriculumVitaeBundle Symfony bundle.

(c) Fabien Crassat <fabien@crassat.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% set template = template|default("") %}
{% set id       = anchors.skills.href|default('') %}
{% set anchorId = "id=" ~ id ~ "" %}
{% set title    = anchors.skills.title|default('') %}
{% set blocks   = skills %}

{# Display the main section #}
{% if template == "OryzoneBoilerplate" %}
    <section {{ anchorId }} class="well">
        <h3>{{ title }}</h3>
        {{ _self.displayBlockInMainSection(blocks, id, template) }}
    </section>
{% elseif template == "pdf" %}
    <div {{ anchorId }}>
        <h3>{{ title }}</h3>
        {{ _self.displayBlockInMainSection(blocks, id, template) }}
    </div>
{% else %}
    <div {{ anchorId }}>
        <h3>{{ title }} [<a href=#>top</a>]</h3>
        {{ _self.displayBlockInMainSection(blocks, id, template) }}
    </div>
{% endif %}

{# Display each block section in the main section #}
{% macro displayBlockInMainSection(blocks, id, template) %}
    {% import _self as SelfFunction %}
    {% if template == "OryzoneBoilerplate" %}
        <dl class="dl-horizontal">
        {% for line in blocks %}
            <dt>{{ line.title }}</dt>
            <dd>
                {% for key, line in line.lines %}
                {{ line.label }}
                <div class="progress {% if line.striped == 'true' %} progress-striped {% endif %}">
                    <div class="progress-bar progress-bar-{{ line.class }}" role="progressbar" aria-valuenow="{{ line.percentage }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ line.percentage }}%;">
                        <span class="sr-only">
                            {{ line.percentage }}
                        </span >
                    </div>
                </div>
                {% endfor %}
            </dd>
        {% endfor %}
        </dl>
    {% elseif template == "pdf" %}
        <dl>
        {% for line in blocks %}
            <dt>{{ line.title }}</dt>
            <dd>
            {% for key, line in line.lines %}
            {{ line.label }},
            {% endfor %}
            </dd>
        {% endfor %}
        </dl>
    {% else %}
        <dl>
        {% for line in blocks %}
            <dt>{{ line.title }}</dt>
            <dd>
                {% for key, line in line.lines %}
                <div>{% for i in 1..line.percentage/4 %}
                {% if line.striped == 'true' %}|{% else %}.{% endif %}
                {% endfor %} {{ line.label }} ({{ line.class }})
                </div>
                {% endfor %}
            </dd>
        {% endfor %}
        </dl>
    {% endif %}
{% endmacro %}
